Repository neodymium6/reversi-zero: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, pytest, cargo-test

.pre-commit-config.yaml:

repos:
  # Common checks for all files
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-added-large-files

  # Python (trainer/)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args: ["--fix"]
        files: ^trainer/
      - id: ruff-format
        files: ^trainer/

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
        files: ^trainer/

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.10
    hooks:
      - id: bandit
        args:
          - "-q"
          - "-r"
          - "./trainer"
          - "-x"
          - "./trainer/.venv/,./trainer/tests/"
        pass_filenames: false
        files: ^trainer/

  # Rust (agent/)
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: bash -c 'cd agent && cargo fmt --all -- --check'
        language: system
        files: ^agent/.*\.rs$
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: bash -c 'cd agent && cargo clippy --all-targets --all-features -- -D warnings'
        language: system
        files: ^agent/.*\.rs$
        pass_filenames: false

  # Commit message format
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.27.0
    hooks:
      - id: commitizen
        stages:
          - commit-msg

  # Tests
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: bash -c 'cd trainer && uv run pytest'
        language: system
        files: ^trainer/.*\.py$
        pass_filenames: false

      - id: cargo-test
        name: cargo test
        entry: bash -c 'cd agent && cargo test --all'
        language: system
        files: ^agent/.*\.rs$
        pass_filenames: false

feat: implement AlphaZero selfplay system
  agent/Cargo.lock
  agent/Cargo.toml
  agent/crates/cli/Cargo.toml
  agent/crates/cli/src/main.rs
  agent/crates/core/src/lib.rs
  agent/crates/mcts/src/dirichlet.rs
  agent/crates/selfplay/Cargo.toml
  agent/crates/selfplay/src/data.rs
  agent/crates/selfplay/src/game.rs
  agent/crates/selfplay/src/lib.rs
  agent/crates/selfplay/src/storage.rs
  trainer/scripts/check_value_correctness.py
  trainer/scripts/verify_selfplay_data.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test

feat: add Criterion benchmarks for selfplay performance
  agent/BENCHMARK_RESULTS.md
  agent/Cargo.lock
  agent/crates/selfplay/Cargo.toml
  agent/crates/selfplay/benches/selfplay_bench.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: Add batched inference and parallel self-play benchmarks
  agent/BENCHMARK_RESULTS.md
  agent/Cargo.lock
  agent/crates/cli/Cargo.toml
  agent/crates/cli/src/main.rs
  agent/crates/mcts/Cargo.toml
  agent/crates/mcts/src/batching.rs
  agent/crates/mcts/src/config.rs
  agent/crates/mcts/src/lib.rs
  agent/crates/selfplay/Cargo.toml
  agent/crates/selfplay/benches/selfplay_bench.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: add batched single-game MCTS and benchmark variants
  agent/BENCHMARK_RESULTS.md
  agent/crates/mcts/src/batching.rs
  agent/crates/mcts/src/evaluation.rs
  agent/crates/mcts/src/expansion.rs
  agent/crates/mcts/src/mcts.rs
  agent/crates/selfplay/benches/selfplay_bench.rs
  trainer/scripts/verify_selfplay_data.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test

feat: add PyO3 self-play bindings for trainer demo
  agent/Cargo.lock
  agent/Cargo.toml
  agent/crates/reversi_zero_rs/Cargo.toml
  agent/crates/reversi_zero_rs/pyproject.toml
  agent/crates/reversi_zero_rs/src/lib.rs
  trainer/pyproject.toml
  trainer/src/reversi_zero_trainer/__init__.py
  trainer/uv.lock
Due: cargo-fmt, cargo-clippy, pytest, cargo-test

feat: add Batch/Mcts config objects for SelfPlayStream and update Python sample
  agent/Cargo.lock
  agent/crates/reversi_zero_rs/Cargo.toml
  agent/crates/reversi_zero_rs/src/lib.rs
  trainer/src/reversi_zero_trainer/__init__.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test

feat: add ResNet option for trainer and reduce inference memory
  agent/crates/nn/src/lib.rs
  trainer/scripts/export_model.py
  trainer/src/reversi_zero_trainer/__init__.py
  trainer/src/reversi_zero_trainer/models/dummy.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test

feat: add flexible logging system and enhanced self-play metrics
  agent/crates/reversi_zero_rs/src/lib.rs
  trainer/pyproject.toml
  trainer/src/reversi_zero_trainer/__init__.py
  trainer/src/reversi_zero_trainer/logging/__init__.py
  trainer/src/reversi_zero_trainer/logging/base.py
  trainer/src/reversi_zero_trainer/logging/config.py
  trainer/src/reversi_zero_trainer/logging/console.py
  trainer/tests/test_logging.py
  trainer/uv.lock
Due: cargo-fmt, cargo-clippy, pytest, cargo-test

feat: add automatic training data saving to directory
  .gitignore
  agent/crates/reversi_zero_rs/src/lib.rs
  agent/crates/selfplay/src/storage.rs
  trainer/src/reversi_zero_trainer/__init__.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test

feat: add type stub file for reversi_zero_rs
  agent/crates/reversi_zero_rs/reversi_zero_rs.pyi
Due: none

feat: add AlphaZero training system with self-play integration
  .gitignore
  trainer/pyproject.toml
  trainer/src/reversi_zero_trainer/data.py
  trainer/src/reversi_zero_trainer/logging/__init__.py
  trainer/src/reversi_zero_trainer/logging/base.py
  trainer/src/reversi_zero_trainer/logging/console.py
  trainer/src/reversi_zero_trainer/logging/helpers.py
  trainer/src/reversi_zero_trainer/train_main.py
  trainer/src/reversi_zero_trainer/training.py
  trainer/tests/test_logging.py
  trainer/tests/test_training.py
  trainer/uv.lock
Due: pytest

fix: negate Q-value in MCTS PUCT selection for proper minimax
  agent/crates/mcts/src/selection.rs
Due: cargo-fmt, cargo-clippy, cargo-test

build: upgrade pyo3 from 0.22 to 0.23.5
  agent/Cargo.lock
  agent/crates/reversi_zero_rs/Cargo.toml
Due: none

feat: add BatchNorm layers to DummyReversiNet
  trainer/src/reversi_zero_trainer/models/dummy.py
Due: pytest

feat: add expansion_batch_size parameter to MctsConfigArgs
  agent/crates/reversi_zero_rs/reversi_zero_rs.pyi
  agent/crates/reversi_zero_rs/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: add MctsPlayer class for Arena evaluation
  agent/crates/reversi_zero_rs/reversi_zero_rs.pyi
  agent/crates/reversi_zero_rs/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: add Arena player scripts for evaluation
  .pre-commit-config.yaml
  trainer/players/alpha_beta_player.py
  trainer/players/mcts_player.py
  trainer/players/random_player.py
  trainer/players/run_arena_mcts.py
Due: pytest

build: add rust-reversi dependency for Arena
  trainer/pyproject.toml
Due: none

build: add extra build dependencies for reversi-zero-rs
  trainer/pyproject.toml
  trainer/uv.lock
Due: none

feat: add Arena evaluation to AlphaZeroTrainer
  trainer/src/reversi_zero_trainer/training.py
Due: pytest

feat: add arena logging helpers
  trainer/src/reversi_zero_trainer/logging/helpers.py
Due: pytest

chore: adjust self-play parameters and enable arena evaluation
  trainer/src/reversi_zero_trainer/train_main.py
Due: pytest

chore: switch to DummyReversiNet for faster iteration
  trainer/src/reversi_zero_trainer/train_main.py
Due: pytest

test: add batching duplicate input test script
  agent/test_batching_duplicate.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore: remove confusing trainer script and demo code
  trainer/pyproject.toml
  trainer/src/reversi_zero_trainer/__init__.py
Due: pytest

docs: add comprehensive README with project overview
  README.md
Due: none

chore: add MIT License
  LICENSE
Due: none

fix(mcts): prevent duplicate batched leaf expansion
  agent/crates/mcts/src/mcts.rs
  agent/crates/mcts/src/selection.rs
  agent/crates/mcts/src/tree.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(trainer): protect training run artifacts
  .gitignore
  README.md
  agent/crates/mcts/src/batching.rs
  agent/crates/selfplay/src/storage.rs
  trainer/README.md
  trainer/src/reversi_zero_trainer/logging/helpers.py
  trainer/src/reversi_zero_trainer/train_main.py
  trainer/src/reversi_zero_trainer/training.py
  trainer/tests/test_train_main.py
  trainer/tests/test_training.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test

build: stabilize PyTorch environment setup
  .pre-commit-config.yaml
  Makefile
  README.md
  scripts/train
  scripts/with-torch-env
  trainer/README.md
  trainer/pyproject.toml
  trainer/uv.lock
Due: none

feat(evaluation): add paired model strength checks
  README.md
  scripts/evaluate
  trainer/README.md
  trainer/players/alpha_beta_player.py
  trainer/players/mcts_player.py
  trainer/players/random_player.py
  trainer/pyproject.toml
  trainer/src/reversi_zero_trainer/evaluate_main.py
  trainer/src/reversi_zero_trainer/openings.py
  trainer/tests/test_evaluate_main.py
  trainer/tests/test_openings.py
Due: pytest

perf(evaluation): prevent CPU thread oversubscription
  README.md
  trainer/README.md
  trainer/players/mcts_player.py
  trainer/src/reversi_zero_trainer/evaluate_main.py
  trainer/src/reversi_zero_trainer/runtime.py
  trainer/tests/test_evaluate_main.py
  trainer/tests/test_runtime.py
Due: pytest

perf(selfplay): tune CPU runtime defaults
  README.md
  trainer/README.md
  trainer/src/reversi_zero_trainer/logging/helpers.py
  trainer/src/reversi_zero_trainer/runtime.py
  trainer/src/reversi_zero_trainer/train_main.py
  trainer/tests/test_runtime.py
  trainer/tests/test_train_main.py
Due: pytest

perf(training): avoid CPU dataloader workers
  README.md
  trainer/README.md
  trainer/src/reversi_zero_trainer/logging/helpers.py
  trainer/src/reversi_zero_trainer/train_main.py
  trainer/tests/test_train_main.py
Due: pytest

perf(selfplay): adopt validated expansion batching
  README.md
  agent/crates/reversi_zero_rs/Cargo.toml
  agent/crates/reversi_zero_rs/src/lib.rs
  scripts/with-torch-env
  trainer/README.md
  trainer/players/mcts_player.py
  trainer/src/reversi_zero_trainer/evaluate_main.py
  trainer/src/reversi_zero_trainer/train_main.py
  trainer/tests/test_evaluate_main.py
  trainer/tests/test_train_main.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test

fix(runtime): link CUDA backend for Rust extension
  Makefile
  README.md
  agent/crates/reversi_zero_rs/build.rs
  agent/crates/reversi_zero_rs/src/lib.rs
  trainer/README.md
  trainer/scripts/doctor.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test

perf(selfplay): batch GPU inference transfers
  agent/crates/mcts/src/batching.rs
  agent/crates/mcts/src/evaluation.rs
  agent/crates/mcts/src/mcts.rs
  agent/crates/nn/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

perf(selfplay): use fp16 native inference batches
  agent/crates/core/src/lib.rs
  agent/crates/mcts/src/batching.rs
  agent/crates/mcts/src/evaluation.rs
  agent/crates/mcts/src/mcts.rs
  trainer/README.md
  trainer/src/reversi_zero_trainer/train_main.py
  trainer/tests/test_train_main.py
Due: cargo-fmt, cargo-clippy, pytest, cargo-test

perf(selfplay): use channels-last fp16 inference
  trainer/README.md
  trainer/src/reversi_zero_trainer/train_main.py
  trainer/tests/test_train_main.py
Due: pytest

perf(selfplay): reduce hot-path allocations
  agent/crates/mcts/src/mcts.rs
  agent/crates/selfplay/src/game.rs
Due: cargo-fmt, cargo-clippy, cargo-test
